.icon
  display: inline-block
  width: 53px
  height: 53px
  vertical-align: text-top
  background-position: 0 0
  background-repeat: no-repeat

.icon-sitemap
  background-image: url('../images/sitemap.png')

.icon-robots
  background-image: url('../images/robots.png')

.icon-pages
  background-image: url('../images/pages.png')

.icon-publications
  background-image: url('../images/publications.png')

.icon-admin
  background-image: url('../images/admin.png')

.icon-filebrowser
  background-image: url('../images/filebrowser.png')

.icon-metatags
  background-image: url('../images/metatags.png')

.icon-dashboard
  background-image: url('../images/dashboard.png')